{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/bootstrap/dashboard.css' %}" rel="stylesheet">
  <style>
  #completed-orders{
    background-color:rgb(104, 167, 104);
  }

  #pending-orders{
    background-color:darkseagreen;
    
}

  #total-orders{
    background-color: grey;
  }

</style>

</head>
<body>
  {% block content%}{% endblock content%}
</body>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</html>