{% load static %}

  
    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<link href="{% static 'css/bootstrap/carousel.css' %}" rel="stylesheet">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Binance T-shirt</h2>
        <p class="lead"><h3><span class="text-muted">A Lovely t-shirt for a warm weather for just <strong>NGN 5,000</strong></span></h3></p>
      </div>
      <div class="col-md-5">
        <figure>
          <img src="{% static 'images/t-shirt.jpg' %}" alt="Missing" width=100% height=100%>
          <figcaption></figcaption>
        </figure>

      </div>
    </div>
 <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>